name: Artifact test 
on: 
  push: 
    branches: 
      - test 
jobs: 
  maven-build: 
    runs-on: ubuntu-latest
    steps: 
      - name: checkout code 
        uses: actions/checkout@v2
      - name: maven build 
        run: |
          mvn package 
      - name: check target folder and add more stuff to it 
        run: |
          cd target && ls -la 
          cd ${{github.workspace}}/target && mkdir random
          cd ${{github.workspace}}/target && mkdir random1
          cp ${{github.workspace}}/pom.xml ${{github.workspace}}/target/random/pom.tar 
          cp ${{github.workspace}}/test.sh ${{github.workspace}}/target/random1/test.war 
          echo "check again"
          cd ${{github.workspace}}/target && ls -R 
      - name: upload everything 
        uses: actions/upload-artifact@v2
        with: 
          path: target/
  download-artifact: 
    needs: maven-build 
    runs-on: ubuntu-latest 
    steps: 
      - name: download artifacts 
        uses: actions/download-artifact@v2
        with: 
          path: .
      - name: check all the files 
        run: |
          cd target && ls -R 
